body {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.header,
.hero,
.information,
.quotesection,
.calltoaction,
.footer {
    padding: 0px 200px;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlinks {
    display: flex;
    gap: 25px;
}

.headerlinks a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

/* Hero */

.hero {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.left-content {
    width: 500px;
    align-self: center;
}

.left-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.left-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.left-content a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    background-color: #3882F6;
    padding: 5px 25px;
    border-radius: 8px;
}

.right-content div {
    background-color: grey;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content {
    align-self: center;
}

/* Information section */

.information {
    display: flex;
    flex-direction: column;
}

.informationheader {
    align-self: center;
}

.informationheader h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900px;
}

.cards {
    display: flex;
    gap: 50px;
    align-self: center;
}

.card {
    display: flex;
    border: solid 5px #3882F6;
    width: 160px;
    height: 160px;
    border-radius: 15px;
}

.cardtext {
    width: 160px;
    height: 160px;
    text-align: center;
}

/* Quote */

.quotesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    height: 500px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.quote {
    display: flex;
    justify-content:center ;
    align-self: center;
    width: 490px;
    height: 280px;
    padding: 0;
}

.author p {
    color: #1F2937;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.author {
    align-self: flex-end;
    margin-right: 350px;
}

/* Call to action */

.calltoaction {
    display: flex;
    justify-content: center;
}

.dock {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 50px;
    padding: 30px;
    width: 1000px;
    justify-content: space-between;
}

.call {
    color: white;
}

.sign {
    align-self: center;
    padding: 50px;
    justify-items: center;
}

.sign a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    padding: 5px 30px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    color: white;
}
